<!-- <div class="container">
  </br> -->
  <form action="/contact" method="POST">
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control"
        id="name"  placeholder="Name">
      </div>
      <!-- <div class="form-group col-lg-6">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" name="last_name"
        id="last_name" placeholder="Last">
      </div> -->

      <div class="form-group col-lg-6">
        <label for="email">Email address</label>
        <input type="text" name="email" class="form-control" id="email"  placeholder="Enter email">
      </div>
      <!-- <div class="form-group col-lg-6">
        <label>Phone Number</label>
        <input type="text" class="form-control" id="exampleInputPhoneNumber"  placeholder="(555)-555-5555">
      </div> -->
    </div>
    <!-- <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" id="exampleInputSubject"  placeholder="Subject">
    </div> -->
    <div class="form-group">
      <label for="Message">Message</label>
      <textarea name="message" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <!-- </br> -->
<!-- </div> -->
