<!-- <div class="container">
  </br> -->
  <form method="post" action="/signup">
    <div class="row">
      <div class="form-group col-lg-6">
        <label for="first_name">First Name</label>
        <input type="text" class="form-control" name="first_name"
        id="first_name"  placeholder="First">
      </div>
      <div class="form-group col-lg-6">
        <label for="last_name">Last Name</label>
        <input type="text" class="form-control" name="last_name"
        id="last_name" placeholder="Last">
      </div>
    </div>
    <div class="row">
      <div class="form-group col-lg-6">
        <label>Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      </div>
      <div class="form-group col-lg-6">
        <label>Phone Number</label>
        <input type="text" class="form-control" id="exampleInputPhoneNumber"  placeholder="(555)-555-5555">
      </div>
    </div>
    <div class="form-group">
      <label>Subject</label>
      <input type="text" class="form-control" id="exampleInputSubject"  placeholder="Subject">
    </div>
    <div class="form-group">
      <label>Message</label>
      <textarea class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Send</button>
  </form>
  <!-- </br> -->
<!-- </div> -->
