body {
  background-color: #56575C;
}

.navbar {
  background-color: #F4F2F3;
}

.modal-body {
  background-color: #f4f2f3;
}

.navbar-brand {
  color: #A92A34;
}

.navbar-brand:hover {
  color: #1C1C25;
}

.jumbotron {
  text-align: center;
}

.btn-primary {
  background-color: #1C1C25;
  border: none;
}

.btn-primary:hover {
  background-color: #5A1520;
  border: none;
}

.icon {
  fill: blue;
}
